@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* index.html */
html, body {
    width: 100%;
    height: 100%;
}

body, button, a{
    font-family: 'Roboto', sans-serif;
}
 /* 영상 배경 스타일 */
 .video-background{
     background: #000;
     position: fixed;
     top: 0; right: 0; bottom: 0; left: 0;
     z-index: -99; /* 맨 뒷배경*/ 
 }

.video-foreground,
.video-background iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;  /* 배경을 클릭했을 때 링크로 들어가지 않음*/
}

.cont-main, .cont {
    position: relative;
    top: 50%;  /*중앙 배치 */
    left: 50%; /*중앙 배치 */
    transform: translateY(-50%) translateX(-50%); /*중앙 배치 */
    text-align: center;
}

.cont-main{
    display: inline-block;
}

.tit{
    font-weight: 900;
    font-size: 30px;
    line-height: 28px;
    color: #F2994A;
    margin-bottom: 30px;
}

.cont-main .img-slide{
    position: relative;
    width: 390px;
    height: 390px;
}

.cont-main .img-slide .img-slide-item{
    position: absolute;
    display: none; /* 처음에는 모두 보이지 않게*/
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%); /*중앙 배치 */
    width: 300px;
    height: 300px;
}

.cont-main .img-slide .img-slide-item.active{
    display: inline-block;
}

.btn-test-start, .btn-start{
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 60px;
    background: #F2994A;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    transition: 0.15s; /* 색상이나 폰트 변경시*/
    cursor: pointer;
}

.btn-test-start:hover, .btn-start:hover{
    transform : scale(1.1);
    /* background: aqua; */
}

/* 자바 스크립트 코드 */

.cont {
    display: none;
}

.cont  .webcam-empty{
    width: 390px;
    height: 500px;
    background: #F2F2F2;
    border: 2px solid #828282;
    box-sizing : border-box;
    text-align: center;
}

.cont .webcam-empty span{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #828282;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.btn-start:hover{
    text-decoration: underline;
}
.cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: none;
}

.cover img{
    display: block;
    position: relative;
    width: 187px;
    height: 187px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

/* sucess css */

.cont-card{
    display: flex;
    align-items: center;  /*가로 정렬*/
    justify-content: center; /*세로 정렬*/
    perspective: 800px;  /*원근감*/
}

.item-card{ /*card*/
    position: relative;
    transform: scale(0.01) rotateY(720deg);  
    transform-style: preserve-3d; /* 3d로 회전*/
    transition: 1.2s;
    width: 330px;
    padding: 40px 30px;
    background: #F2994A;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
}

.id-card-active .item-card{
    transform: scale(1) rotateY(0);  /* 돌면서 다시 원상 복구 하도록 */
}

.cont-card   .card-title{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
}

/*닮은 이미지 result*/
.cont-card .card-result{
    position: relative;
    left: 50%;  
    transform: translateY(-50%);
    width: 216px;
    height: 216px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #FFF;
    background-image: url(../assets/1.png);
    background-size: cover;
    transform: translateX(-50%);
    margin-bottom: 37px;
    overflow: hidden;
}

.cont-card .card-result-name{
    position: relative;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #F2F2F2;
}

.share-btn .link-return{
    background: #FFF;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
}

.share-btn {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.link-return {
    display: block;
    text-decoration: none;
}

.share-btn:hover, .link-return:hover {
    text-decoration: underline;
}

.cont-card.id-card-active .item-card:hover {
    background: #F96167;
	transform: scale(1.1) rotateZ(3deg); /*살짝 기울이게 하면서 스케일 변경 */
}

/* fail.html */
.fail .item-card{
    background:#828282;
}

.id-card-active.fail .item-card {
    animation-duration: .3s;  /* 애니메이션 삽입*/
    animation-name: animation-fail; /*아래 animation-fail 만들어 삽입 */
    animation-fill-mode: forwards;
}

@keyframes animation-fail {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-20px); 
    }
    40%{
        transform: translateX(20px); 
    }
    60%{
        transform: translateX(-20px); 
    }
    80%{
        transform: translateX(20px); 
    }
    100%{
        transform: translateX(0); 
    }
}